.publication-section {
  padding: 1vh 1vw;
  box-sizing: border-box;
  border: 3px solid ;
  border-radius: 10px;
}

.publication-section__title {
  padding-left: 1vw;
  font-size: 1rem;
}

.publication-section__epigraph {
  margin: 3px;
  padding: 3px;
  background-color: #20242c;
  text-align: end;
  font-size: 0.9rem;
  font-style: italic;
}

.publication-section__text {
  padding-bottom: 1vh;
}