/* .publication-section {} */

.publication-section__title {
  padding-left: 1vw;
  font-size: 1rem;
}

.publication-section__epigraph {
  margin: 3px;
  padding: 3px;
  background-color: var(--accent-color);
  text-align: end;
  font-size: 0.9rem;
  font-style: italic;
}

.publication-section__text {
  padding-bottom: 1vh;
}