html {
  font-size: 20px;
}

h1, h2, p, blockquote {
  margin: 0;
}

.app {
  color: rgb(140, 212, 188);
  min-height: 100vh;
  padding: 2vh 2vw;
  box-sizing: border-box;
  background-color: #0e0f13;
}