:root {
  --primary-color: #FDF2DF;
  --secondary-color: #7A7363;
  --background-color: #000;
  --shadow-color: #181612;
  --decor-color: #303E3B;
  --accent-color: #B47E2B;
  --text-color: #000;
}

html {
  font-size: 20px;
}

h1, h2, p, blockquote {
  margin: 0;
}

.app {
  color: var(--text-color);
  min-height: 100vh;
  min-width: 100%;
  background-color: var(--background-color);
  display: grid;
  grid-template-columns: 15% 30% auto;
  grid-template-rows: 15% 80% 5%;
  grid-template-areas:
    "header decoration content"
    "menu decoration content"
    "footer decoration content";
}