.header {
  grid-area: header;
  border-radius: 50%;
  background: linear-gradient(var(--secondary-color), var(--background-color));
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__title {
  color: var(--decor-color);
  font-size: 1rem;
}