.journal {
  grid-area: content;
  padding: 2vh 2vw;
  box-sizing: border-box;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: var(--primary-color);
  /* overflow: hidden; */
}